.second img{
   height: 300px;
   width: 300px;
   

}
.main h1 {
    font-family: arial, sans-serif;
    font-size: 27px;
    font-weight: normal;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 25px;
  }
  
  .orange {
    background-color: #ff7420;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
  }
  
  .gray {
    background-color: #d7d7d7;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
  }
  
 
  
  .first {
  
    background-color: #ffffff;
    border-radius: 20px 0px 0px 20px;
    display: inline-block;
  
  }
  
  .review {
    display: inline-block;
    font-size: 12px;
    color: #bdbdbd;
    vertical-align: middle;
  }
  
  .sign {
    height: 16px;
    width: 16px;
    background-color: #bebebe;
    text-align: center;
    border-radius: 10px;
    color: white;
    display: inline-block;
    line-height: 16px;
    cursor: pointer;
    vertical-align: middle;
  }
  
  .one {
    height: 30px;
    width: 40px;
    border-color: #bebebe;
    border-style: solid;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    border-width: 1px;
  
  }
  
 .main button {
    height:50px;
    width: 200px;
    border-radius: 50px;
    background-color: #ff7420;
    border: none;
    color: white;
    display: block;
    margin: 10px 30px 30px 30px;
    cursor: pointer;
  }
  
  .main button:hover {
    background-color: #ff9758;
  }
  
  .second {
    
    background-color: #ffffff;
    border-radius: 2px;
    display: inline-block;
    margin-left: 3px;
    text-align: right;
    position: relative;
  }
  

  
  .add {
    height: 50px;
    width: 50px;
    background-color: #ff7420;
    text-align: center;
    color: white;
    font-size: 45px;
    border-radius: 45px;
    box-shadow:  2px 2px 2px 2px #f24f2c;
    position:absolute;
    right: -15px;
    bottom: -15px;
  }
  
  .main {
    margin-top: 80px;
    margin-left:250px;
    width: 700px;
    height: 300px;
    display: grid;
    grid-template-columns: 450px 300px;
  }
  .amount {
    margin-top: 0px;
    text-align: center;
  }
  
  p {
    font-family: verdana, sans-serif;
    color: #5b6d6b;
    line-height: 1.5;
    font-size: 14px;
    padding: 20px;
  }
  
  .info {
    padding-left: 20px;
  }
  